@charset "UTF-8";
/* CSS Document */

/*  MAIN CONTENT */
.main-content {
  background-color: #393D3F;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 100px;
	padding-left: 48px;
	padding-top: 48px;
}

.main-content h1 {
  padding: 16px 0 5px 0;
  color: white;
  font-family: Arial;
	font-size: 350%
}

.main-content h1 span {
	 display:inline-block;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 12px;
}
.main-content p {
  color: white;
  margin: 16px 0 0 0px;
	font-family: Arial;
	font-size: 150%;
}

.main-img {
  display:inline;
  text-align: right;
  position:relative;
  bottom: 0;
}

.main-img img {
  max-width: 100%;
  height: auto;
}

/* INITIAL-FOOTER */

.initial-footer-container {
  background-color: #ffffff;
  height: 100px;
  width: fluid;
	padding: 16px 0px 16px 0px;
}

.solid-line-footer {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.inner-dashed-line {
	border-right: 3px solid black;
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

.down-arrow {
  text-align: center;
  vertical-align: middle;
  height: 500%;
  -webkit-transition: all 0.2s cubic-bezier(.66,-1.21,.83,.67);
  -moz-transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  -o-transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  transition-delay: 9s;
  -webkit-transition-delay: 9s;
  -moz-transition-delay: 9s;
  -o-transition-delay: 9s;
}

.down-arrow.jump {
  position: relative;
  transform: translateY(3px);
}

/* Profile */

.profile-container1 {
	height: flex;
	display: flex;
	background-color: #FFFFFF;
	padding-top: 50px;
	justify-content: center;

}

.profile-container2 {
	height: flex;
	display: flex;
	background-color: #FFFFFF;
	padding-top: 50px;
	justify-content: center;

}

.profile-text-2 {
	height: flex;
	min-height: 150px;
	background-color: #393D3F;
	padding: 20px 20px 20px 20px;
	color: white;
	text-align: center;
}

.profile-text-1 {
	height: flex;
	min-height: 150px;
	background-color: #393D3F;
	padding: 20px 20px 20px 20px;
	color: white;
	text-align: center;
}

/* PAGE BREAK */

.page-break-container {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
}

.page-break-container .page-break-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px 0 5px 0;
}

/* SAMPLE-CONTENT */

.sample-content {
	height: flex;
  background-color: #393D3F;
	margin-top: 0px;
	margin-bottom: 16px;
  flex: auto;
}


.past-header {
	padding-bottom: 16px;
	color: white;
	text-align: center;
}

.past-header span {
	 display:inline-block;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 16px;
}

.past-paragraph {
	padding-bottom: 16px;
	color: white;
	text-align: center;
}

/* ------------- FOOTER ------------------ */


/* FOOTER CONTAINER */

.solid-line-tb {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.number {
  font-size: 27px;
  flex: 1 1 auto;
  font-weight: bold;
}

.year {
  font-size: 12px;
}
