@charset "UTF-8";
/* CSS Document */

/* ------------- HEADER --------------- */

/* NAVIGATION */

.navigation-container {
  background-color: white;
  padding: 16px 0 16px 0;
}

.navigation .outside-border {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 0px 16px 0px 16px;
  padding: 5px 0 5px 0;
}

.navigation .inside-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.navigation .navbar-brand img {
  height: 100%;
  vertical-align: middle;
}

/* ------------- MAIN ------------------ */

#main {
  margin-left: 16px;
  margin-right: 16px;
}

/*  MAIN CONTENT */
.main-content {
  background-color: #FFE81E;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 100px;
	padding-left: 48px;
	padding-top: 48px;
}

.main-content h1 {
  padding: 16px 0 5px 0;
  color: white;
  font-family: Arial;
	font-size: 350%
}

.main-content h1 span {
	 display:inline-block;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 12px;
}

.main-content h2 {
	color: white;
	padding-bottom: 36px;
}

.main-img {
  display:inline;
  text-align: right;
  position:relative;
  bottom: 0;
}

.main-img img {
  max-width: 100%;
  height: auto;
}

/* INITIAL-FOOTER */

.initial-footer-container {
  background-color: #ffffff;
  height: 100px;
  width: fluid;
	padding: 16px 0px 16px 0px;
}

.solid-line-footer {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.inner-dashed-line {
	border-right: 3px solid black;
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

.down-arrow {
  text-align: center;
  vertical-align: middle;
  height: 500%;
  -webkit-transition: all 0.2s cubic-bezier(.66,-1.21,.83,.67);
  -moz-transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  -o-transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  transition-delay: 9s;
  -webkit-transition-delay: 9s;
  -moz-transition-delay: 9s;
  -o-transition-delay: 9s;
}

.down-arrow.jump {
  position: relative;
  transform: translateY(3px);
}

/* CONTACT-ROW */

.our-contact {
	 background-color: #FFE81E;
	height: 100px;
	display: flex;
	flex-wrap: nowrap;
}

.their-contact {
	background-color: #FFE81E;
	height: 100px;
	display: flex;
	flex-wrap: nowrap;
}

.company-contact {
	flex: auto;
	height: flex;
  background-color: #FFE81E;
	margin-top: 0px;
	margin-bottom: 16px;
	padding: 16px 16px 16px 16px;
	color: white;
}

.form-horizontal .button-contact {
	background-color:transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 24px;
	text-decoration:none;
}
.form-horizontal .button-contact:hover {
	background-color: white;
  	color: #A9E86A;
}
.form-horizontal .button-contact:active {
	position:relative;
	top:1px;
}

.form-horizontal .form-group {
	color: white;
	margin-left: auto;
	margin-right: auto;
	align-content: flex-end;
}

/* ------------- FOOTER ------------------ */


/* FOOTER CONTAINER */

.footer-container {
  background-color: #FFFFFF;
  height: 100px;
  bottom: 0;
  width: fluid;
	padding: 0px 16px 16px 16px;
}

.solid-line-tb {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.inner-dashed-line {
	border-right: 3px solid black;
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

/* FOOTER CONTENT */

/* CENTER BOX */
.inner-dashed-line {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 27px;
  flex: 1 1 auto;
  font-weight: bold;
}

.year {
  font-size: 12px;
}

.footer-parent {
  height: 100%;
  display: flex;
  align-items: center;
  float:left;
}

.solid-line h6 {
  float: left;
  line-height: 20px;
  padding-left: 7px;
}

.logo {
  float: right;
	height: 50px;
	padding: 7px 7px 7px 7px;
}

.logo:hover {
  opacity: 0.54;
}

.logo:active {
  position: relative;
  top: 3px;
}
