@charset "UTF-8";
/* CSS Document */

/* Header */

/* ------------- HEADER --------------- */

/* NAVIGATION */

.navigation-container {
  background-color: white;
  padding: 16px 0 16px 0;
}

.navigation .outside-border {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 0px 16px 0px 16px;
  padding: 5px 0 5px 0;
}

.navigation .inside-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.navigation .navbar-brand img {
  height: 100%;
  vertical-align: middle;
}

/* ------------- MAIN ------------------ */

#main {
  margin-left: 16px;
  margin-right: 16px;
}

.main-content {
  height: 600px;
  background-color: red;
}

.page-break-container {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
}

.page-break-container .page-break-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px 0 5px 0;
}

/* SAMPLES */
.samples div {
}

/* ------------- FOOTER ------------------ */

.footer-container {
  background-color: #ccc;
  height: 50px;
}
