@charset "UTF-8";
/* CSS Document */

:root {
  --main-color: #3F88C5;
}

#main {
  margin-left: 16px;
  margin-right: 16px;
}

/*  MAIN CONTENT */
.main-content {
  background-color: #3F88C5;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 100px;
	padding-left: 48px;
	padding-top: 48px;
}

.main-content h1 {
  padding: 16px 0 5px 0;
  color: white;
  font-family: Arial;
	font-size: 350%
}

.main-content h1 span {
	 display:inline-block;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 12px;
}
.main-content p {
  color: white;
  margin: 16px 0 0 0px;
	font-family: Arial;
	font-size: 150%;
}

.main-content .button-main {
  background-color: transparent;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 10px 24px;
  text-decoration: none;
  margin: 16px 0px 0px 0px;
}

.main-content .button-main:hover {
  background-color: white;
  color: #3F88C5;
}

.main-content .button-main:active {
position: relative;
top: 1px;
}

.main-img {
  display:inline;
  text-align: right;
  position:relative;
  bottom: 0;
}

.main-img img {
  max-width: 100%;
  height: auto;
}

/* INITIAL-FOOTER */

.initial-footer-container {
  background-color: #ffffff;
  height: 100px;
  width: fluid;
	padding: 16px 0px 16px 0px;
}

.solid-line-footer {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.inner-dashed-line {
	border-right: 3px solid black;
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

.down-arrow {
  text-align: center;
  vertical-align: middle;
  height: 500%;
  -webkit-transition: all 0.2s cubic-bezier(.66,-1.21,.83,.67);
  -moz-transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  -o-transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  transition: all 0.2s cubic-bezier(.66,-1.1,.02,.97);
  transition-delay: 9s;
  -webkit-transition-delay: 9s;
  -moz-transition-delay: 9s;
  -o-transition-delay: 9s;
}

.down-arrow.jump {
  position: relative;
  transform: translateY(3px);
}

/* PAGE BREAK */

.page-break-container {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
}

.page-break-container .page-break-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px 0 5px 0;
}

/* ------------- SAMPLES -------------- */

.service-container {
	background-color: #3F88C5;
	text-align: center;
	padding: 16px 16px 16px 16px;
	margin-bottom: 16px;
  min-height: 435px;
}

.service-design-image {
	max-height: 200px;
	width: auto;
}
.service-title span {
	color: white;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 8px;
}

.service-paragraph {
	margin-top: 20px;
	margin-left: 36px;
	margin-right: 36px;
	color: white;
}
/* SAMPLE-CONTENT */

.sample-content {
	height: flex;
  background-color: #3F88C5;
	margin-top: 0px;
	margin-bottom: 16px;
  flex: auto;
}

.past-header {
	padding-bottom: 16px;
	color: white;
	text-align: center;
}

.past-header span {
	 display:inline-block;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 16px;
}

.past-paragraph {
	padding-bottom: 16px;
	color: white;
	text-align: center;
	margin-left: 36px;
	margin-right: 36px;
}

/* CONTACT-ROW */

.contact {
	flex: auto;
	height: flex;
  background-color: #3F88C5;
	margin-top: 0px;
	margin-bottom: 16px;
	padding: 16px 16px 16px 16px;

}

.form-horizontal .button-contact {
	background-color:transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 24px;
	text-decoration:none;
}
.form-horizontal .button-contact:hover {
	background-color: white;
  	color: #3F88C5;
}
.form-horizontal .button-contact:active {
	position:relative;
	top:1px;
}

.form-horizontal .form-group {
	color: white;
	margin-left: auto;
	margin-right: auto;
	align-content: flex-end;
}

.contact {
	color: white;
}

/* ------------- FOOTER ------------------ */


/* FOOTER CONTAINER */

.footer-container {
  background-color: #FFFFFF;
  height: 100px;
  bottom: 0;
  width: fluid;
	padding: 0px 16px 16px 16px;
}

.solid-line-tb {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.inner-dashed-line {
	border-right: 3px solid black;
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

/* FOOTER CONTENT */

/* CENTER BOX */
.inner-dashed-line {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 27px;
  flex: 1 1 auto;
  font-weight: bold;
}

.year {
  font-size: 12px;
}

.footer-parent {
  height: 100%;
  display: flex;
  align-items: center;
  float:left;
}

.solid-line h6 {
  float: left;
  line-height: 20px;
  padding-left: 7px;
}

.logo {
  float: right;
	height: 50px;
	padding: 7px 7px 7px 7px;
}

.logo:hover {
  opacity: 0.54;
}

.logo:active {
  position: relative;
  top: 3px;
}
