@charset "UTF-8";
/* CSS Document */

/* ------------- HEADER --------------- */

/* NAVIGATION */

.navigation-container {
  background-color: white;
  padding: 16px 0 16px 0;
}

.navigation .outside-border {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 0px 16px 0px 16px;
  padding: 5px 0 5px 0;
}

.navigation .inside-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.navigation .navbar-brand img {
  height: 100%;
  vertical-align: middle;
}

/* ------------- MAIN ------------------ */

#main {
  margin-left: 16px;
  margin-right: 16px;
}

.main-content {
  height: 600px;
  background-color: red;
}

.page-break-container {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
}

.page-break-container .page-break-border {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px 0 5px 0;
}

/* INITIAL-FOOTER */	

.initial-footer-container {
  background-color: #ffffff;
  height: 100px;
	position: static;
  width: fluid;
	padding: 16px 0px 16px 0px;
}

.solid-line-footer {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;	
}

.inner-dashed-line {
	border-right: 3px solid black; 
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

/* SAMPLES */
.samples div {
	flex: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

/* SAMPLE-CONTENT */

.sample-content {
	height: 200px;
  background-color: red;
	margin-top: 0px;
	margin-bottom: 16px;
		
}


/* CONTACT-ROW */

.contact {
	height: 200px;
  background-color: red;
	margin-top: 0px;
	margin-bottom: 16px;
	

}


/* ------------- FOOTER ------------------ */


/* FOOTER CONTAINER */

.footer-container {
  background-color: #FFFFFF;
  height: 100px;
	position: static;
  bottom: 0;
  width: fluid;
	padding: 0px 16px 16px 16px;
}

.solid-line-tb {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0 5px 0;
	height: 100%;
}

.dashed-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	padding: 5px 0 5px 0;
	height: 100%;	
}

.inner-dashed-line {
	border-right: 3px solid black; 
	border-left: 3px solid black;
	margin-right: 6px;
	margin-left: 6px;
	padding: 5px 0 5px 0;
	height: 100%;
}

/* FOOTER CONTENT */

.facebook-logo {
	height: 50px; 
	padding: 7px 20px 7px 7px;
}

.twitter-logo {
	height: 50px;
	padding: 7px 7px 7px 7px;
}