@charset "UTF-8";
/* CSS Document */

/* Header */
.navigation-bar {
	background-color: white;
	padding: 16px 0px 16px 0px;
	position: fixed;
    top: 0;
    width: 100%;
}

.site-logo {
	position: fixed;
	top: 39px;
	left: 20px;
}

.nav {
	border-bottom: 4px solid black;
	border-top: 4px solid black;
	padding: 5px;
	display: flex;
	height: 75px;
}

.nav .dotted-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	flex: 1 2 auto;
}

.nav .solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	flex: 12 2 auto;
}

.navigation-items {
	position: absolute;
	top: 45px;
	right: 40px;
}

ul.navigation-items {
	list-style-type: none;
}

.navigation-items li {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: normal;
}

/* Main Content */

.main {
	color: white;
	background-color: red;
	height: 400px;
	padding: 20px 0px 20px 20px;
	background-color: red;
	height: 400px;
}

.text-justify {
	margin-left: 20px;
	margin-top: 20px;
}

.gs-button {
	background-color:transparent;
	border-radius:8px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:16px;
	padding:10px 20px;
	text-decoration:none;
	margin: 20px;
}
.gs-button:hover {
	background-color:white;
	color: red;
	text-decoration: none;
}
.gs-button:active {
	position:relative;
	top:1px;
}
/*Footer*/
.text-justify {
	margin-left: 20px;
	margin-top: 20px;
}

.footer-bar {
	background-color: white;
	padding: 0px 0px 16px 0px;
	position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
	border-bottom: 4px solid black;
	border-top: 4px solid black;
	padding: 5px 0px 5px 0px;
	display: flex;
	height: 75px;
}

.footer .dotted-line {
	border-top: 3px dashed black;
	border-bottom: 3px dashed black;
	margin: 0px 5px 0px 5px;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .inner-dotted-line {
	border-right: 3px solid black;
	border-left: 3px solid black;
	flex: 1 1 auto;
	height: 80%;
}
.footer .solid-line {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	flex: 7 1 auto;
}

.number {
	font-size: 175%;
}

.year{
	font-size: 50%;
	font-weight: bold;
}


.facebook-logo {
	height: 50px;
	padding: 7px 20px 7px 7px;
}

.twitter-logo {
	height: 50px;
	padding: 7px 7px 7px 7px;
}

.number {
	font-size: 175%;
}

.year{
	font-size: 50%;
	font-weight: bold;
}


.facebook-logo {
	height: 50px;
	padding: 7px 20px 7px 7px;
}

.twitter-logo {
	height: 50px;
	padding: 7px 7px 7px 7px;
}
/* Tablet View */

/* Mobile View */
