.main-content .button-main {
  background-color: transparent;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 10px 24px;
  text-decoration: none;
	margin-left: 32px;
}

.main-content .button-main:hover {
  background-color: white;
  color: red;
}

.main-content .button-main:active {
position: relative;
top: 1px;
}
